#carouselExampleCaptions {
    position: relative;
    text-align: center;
    
  } 
  .carousel-caption{
     position: absolute; 
     top: 180px;
     right: 146px; 
     font-weight: bolder;
  } 
  @media only screen and (max-width: 688px) {
    #carouselExampleCaptions {
        position: relative;
        text-align: center;
        
      } 
    .carousel-caption{
         position: absolute;  
         top: 108px; 
        left: 106px;  
     } 
     
   
  }